.user-list{
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 15px 0px 15px;
  border: rgb(118, 118, 118);
  margin-bottom: 10px;
  box-shadow: 0 2px 4px #242c3a;
  padding-left: 20px;
  padding-right: 10px;
  animation: fade-blur-in 1s ease-out forwards;
}
.delete button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color:white;
  background-color: #858585;
  border: none;
  width: 20px;
  height: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.mButton button{
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  color:  rgb(15, 15, 15); 
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.user{
  display: flex;
  width: 100px;
  color: white;
}