
 .tier {
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   border: 1px solid #000;
   margin: 5px;
   box-shadow: inset 0 1px 2px #000000;
   padding: 5px;
 }
 
 .S {
   display: flex;
   align-items: center;
   background-color: #a8e6cf; 
   height: 100px;
   width: 1400px;
   border-radius: 20px;
 }
 
 .A {
  margin-top: 15px;
  display: flex;
   align-items: center;
   background-color: #dcedc1; 
   height: 100px;
   width: 1400px;
   border-radius: 20px;
 }

 .B {
  margin-top: 15px;
  display: flex;
   align-items: center;
   background-color: #ffd3b6; 
   height: 100px;
   width: 1400px;
   border-radius: 20px;
 }

 .C {
  margin-top: 15px;
  display: flex;
   align-items: center;
   background-color: #ffaaa5; 
   height: 100px;
   width: 1400px;
   border-radius: 20px;
 }
 

 .D {
   margin-top: 15px;
   display: flex;
   align-items: center;
   background-color: #ff8b94; 
   height: 100px;
   width: 1400px;
   border-radius: 20px;
 }

 .tierLabel {
  width:40px;
  height:100%;
  background-color:#272f42;
  font-size: 30px;
  color:#ffffff;
  border-radius: 15px 0px 0px 15px;
  text-align: center;
 }

 .movie{
  background-image: url('/clapperboard (2).png');
  position: relative; 
  display: flex;
  margin-left: 10px;
  width: 130px;
  height: 95px;
  background-color: rgb(0, 0, 0);
  background-size: 150px 150px; 
  background-position: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  text-shadow: #171b30 2px 5px;
  font-weight: bolder;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .del{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  background-color: white;
  border-radius: 20px;
  position: absolute; 
  top: 5px; 
  left: 5px; 
  width:20px;
  height:20px;
 }

button{
   height: 20px;
   font-size: 13px;
   font-weight: bold;
   width: 120px;
   border: none;
   margin: 10px;
   background-color: rgb(254, 254, 254);
}
