
 .tier {
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   border: 1px solid #000;
   margin: 5px;
   box-shadow: inset 0 1px 2px #000000;
   padding: 5px;
 }
 
 .S {
   display: flex;
   align-items: center;
   background-color: #a8e6cf; /* Change the color as needed */
   height: 135px;
   width: 1400px;
   border-radius: 20px;
 }
 
 .A {
  margin-top: 15px;
  display: flex;
   align-items: center;
   background-color: #dcedc1; /* Change the color as needed */
   height: 135px;
   width: 1400px;
   border-radius: 20px;
 }

 .B {
  margin-top: 15px;
  display: flex;
   align-items: center;
   background-color: #ffd3b6; /* Change the color as needed */
   height: 135px;
   width: 1400px;
   border-radius: 20px;
 }

 .C {
  margin-top: 15px;
  display: flex;
   align-items: center;
   background-color: #ffaaa5; /* Change the color as needed */
   height: 135px;
   width: 1400px;
   border-radius: 20px;
 }
 

 .D {
   margin-top: 15px;
   display: flex;
   align-items: center;
   background-color: #ff8b94; /* Change the color as needed */
   height: 135px;
   width: 1400px;
   border-radius: 20px;
 }

 .tierLabel {
  width:40px;
  height:100%;
  background-color:#272f42;
  font-size: 30px;
  color:#ffffff;
  border-radius: 15px 0px 0px 15px;
  text-align: center;
 }

 .movie{
  position: relative; /* Set the position to relative */
  display: flex;
  margin-left: 10px;
  width: 130px;
  height:115px;
  background-color: rgb(60, 60, 127);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  align-items: center;
  color: hsl(49, 86%, 65%);
  text-shadow: #171b30 2px 5px;
  font-weight: bolder;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  /* letter-spacing: .5rem; */

 }
 .del{
  display: flex;
  background-color: white;
  border-radius: 20px;
  position: absolute; /* Set the position to absolute */
  top: 5px; /* Adjust top position as needed */
  left: 5px; /* Adjust left position as needed */
  width:20px;
  height:20px;
 }

/* .movieTitle p{
} */


button{
   height: 20px;
   font-size: 13px;
   font-weight: bold;
   width: 120px;
   border: none;
   margin: 10px;
   background-color: rgb(254, 254, 254);
}
